.main-page-container {
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.login-container,
.register-container {
    height: auto;
    padding: 25px;
    background-color: #ffffff;
    box-shadow: 0px 17px 39px 0 rgba(0, 0, 0, 0.35);
}

.login-container {
    width: 400px;
    margin-top: -20px;
    margin-bottom: -20px;
}

.register-container {
    width: 400px;
    margin-left: calc(50% - 400px);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.main-page-container .btn-register {
    height: 40px;
    padding: 0px 40px 0px 40px;
    margin-left: calc(50% - 55px);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #3A8C48;
}

.main-page-container .btn-login {
    height: 40px;
    padding: 0px 40px 0px 40px;
    margin-left: calc(50% - 55px);
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #707070;
}

.register-container h3, 
.login-container h3 {
    text-align: center;
    font-size: 16px;
}

.register-container h3 {
    color: #707070;
}

.login-container h3 {
    margin-top: 35px;
    color: #535353;
}

@media (max-width: 1024px) {
    .main-page-container {
        width: 90%;
    }
}

/* color scala: http://paletton.com/#uid=12S0u0k8Bz91LUp4JKtdhsiiPmV*/