.calender-container {
    width: 100%;
}

.calender-container ul {
    list-style: none;
    padding-left: 0px;
}

.calender-container ul li {
    width: calc(100% / 7);
    display: inline-block;
    padding: 30px 0px 30px 0px;
    text-align: center;
    font-size: 25px;
    color: #777777;
}

.calender-container .all-chains {
    display: inline-block;    
}

.calender-container .all-chains ul {    
    list-style: none;
    padding-left: 0px;
}

.calender-container .all-chains ul li {
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: #777777;
}

.mark-day {
    cursor: pointer;
}

.mark-today {
    color: #000;
    font-weight: bold;
}

.mark-day-name {
    border-bottom: 1px solid #777777;
}

.modal-close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}