.calender {
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: 50px 50px 50px 50px 50px;
    grid-gap: 5px;    
}
.day {
    border-radius: 2px;
    border: 1px solid #808080;
}