nav {
    float: right;
    margin: 30px;
}

nav ul {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px;
    font-size: 14px;
    transition: border-color .2s ease-in;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    text-decoration: none;
    border-bottom-color: #fff;
    border-top-color: #fff;
    transition: border 2s ;
}
