header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    align-content: center;
    border-top: 3px solid #ff8c00;
    border-bottom: 1px solid #cccccc;
}

header .logo img {
    padding-left: 30px;
    height: 35px;
    margin-top: 4px;
}

header a {
    float: right;
    text-decoration: none;
    color: #3A8C48;
    /*animation: hoverShine 1.5s ease-out 0s alternate infinite none running;*/
}

header a:hover {
    text-decoration: none;
    color: #3A8C48;
}

@keyframes hoverShine {
    from {
        border-bottom: 0px solid rgba(58, 140, 72, 0);
    }
    to {
        border-bottom: 1px solid rgba(58, 140, 72, 1);
    }
}